# Pandas Basico

### Importando Pandas

In [1]:
import pandas as pd

### Criando um Dataframe a partir de um dicionario 
##### (Tabela dentro do Python)

In [2]:
# dataframe = pd.DataFrame()
venda = {'data':['15/02/2024', '16/02/2024'],
         'valor': ['500', '300'],
         'produto': ['produto_1','produto_2'],
         'qtde':['50','70'],
}

tabela_vendas = pd.DataFrame(venda)

### Visualização de Dados
##### - `print`
##### - `display` (No Jupyter o `display` dispões de uma interação com cores quando o mouse está por cima e o head da atbela em negrito)

In [3]:
print(tabela_vendas)

         data valor    produto qtde
0  15/02/2024   500  produto_1   50
1  16/02/2024   300  produto_2   70

### Importando arquivos e bases de dados

In [4]:
tabela_vendas = pd.read_excel("Vendas.xlsx")
display(tabela_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036

### Resumo de visualização de Dados
##### - `head` (Mostra o inicio da tabela e podemos definir quantas linhas exibidas como parametro de `head`)
##### - `shape`
##### - `describe`

In [5]:
display(tabela_vendas.head(10))
display(tabela_vendas.shape)
display(tabela_vendas.describe())

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248
6,5,2019-01-02,Shopping Barra,Calça,1,170,170
7,6,2019-01-02,Shopping Ibirapuera,Polo Listrado,4,149,596
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105

(93910, 7)

,Código Venda,Data,Quantidade,Valor Unitário,Valor Final
count,93910.000000,93910,93910.000000,93910.000000,93910.000000
mean,32464.762155,2019-06-16 23:52:28.265360896,2.166553,191.725886,414.862656
min,1.000000,2019-01-01 00:00:00,1.000000,30.000000,30.000000
25%,16204.000000,2019-03-26 00:00:00,1.000000,100.000000,156.000000
50%,32367.000000,2019-06-17 00:00:00,2.000000,155.000000,274.000000
75%,48793.750000,2019-09-08 00:00:00,3.000000,248.000000,524.000000
max,65014.000000,2019-11-30 00:00:00,5.000000,750.000000,3750.000000
std,18809.007093,NaN,1.258732,145.215519,434.846228

### Pegar 1 coluna (pd.series) - Uma serie do Pandas é uma COLUNA
##### 1 Serie = ['`nome da coluna`'] / 2 Series = [['`nome da coluna`']]

In [6]:
produtos = tabela_vendas[['Produto', 'ID Loja', 'Data']]
display(produtos)

                 Produto              ID Loja       Data
0         Sapato Estampa   Iguatemi Esplanada 2019-01-01
1               Camiseta   Iguatemi Esplanada 2019-01-01
2          Sapato Xadrez   Iguatemi Esplanada 2019-01-01
3                Relógio       Norte Shopping 2019-01-02
4           Chinelo Liso       Norte Shopping 2019-01-02
...                  ...                  ...        ...
93905     Mochila Xadrez  Shopping Vila Velha 2019-11-30
93906  Pulseira Listrado    Ribeirão Shopping 2019-11-30
93907     Cueca Listrado    Ribeirão Shopping 2019-11-30
93908     Pulseira Linho     Shopping Morumbi 2019-11-30
93909      Casaco Xadrez     Shopping Morumbi 2019-11-30

[93910 rows x 3 columns]

### Filtrar por linhas

In [7]:
#Pegar linha 1
print('Apresentando dados da linha 1')
display(tabela_vendas.loc[1])
"\n"
"\n"
print('Apresentando dados da linha 1 até linha 5')
#Pegar da linha 1 a 5 -> Linha que corresponde a uma condição
display(tabela_vendas.loc[1:5])
"\n"
"\n"
print('Apresentando dados de todas as linhas do Norte Shopping')
# Todas as linhas onde a Loja é Norte Shopping
# tabela_vendas['ID Loja'] == 'Norte Shopping' -> Essa linha passamos dentro do parametro do `loc`
vendas_norteshopping_df = tabela_vendas.loc[tabela_vendas['ID Loja'] == 'Norte Shopping']
display(vendas_norteshopping_df)

Apresentando dados da linha 1

Código Venda                        1
Data              2019-01-01 00:00:00
ID Loja            Iguatemi Esplanada
Produto                      Camiseta
Quantidade                          2
Valor Unitário                    180
Valor Final                       360
Name: 1, dtype: object

Apresentando dados da linha 1 até linha 5

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248

Apresentando dados de todas as linhas do Norte Shopping

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71
8,7,2019-01-02,Norte Shopping,Camisa Gola V Listrado,1,116,116
9,7,2019-01-02,Norte Shopping,Camisa Liso,1,105,105
100,73,2019-01-02,Norte Shopping,Cueca Xadrez,5,60,300
...,...,...,...,...,...,...,...
93716,64888,2019-11-30,Norte Shopping,Polo Xadrez,1,142,142
93754,64914,2019-11-30,Norte Shopping,Calça Liso,1,190,190
93755,64914,2019-11-30,Norte Shopping,Casaco Estampa,2,256,512
93756,64914,2019-11-30,Norte Shopping,Gorro,2,80,160
93852,64980,2019-11-30,Norte Shopping,Bermuda Linho,1,195,195

### Pegar linhas e colunas específicas usando o Metodo `loc`

In [8]:
vendas_norteshopping_df = tabela_vendas.loc[tabela_vendas['ID Loja'] == 'Norte Shopping', ["ID Loja", "Produto", "Quantidade"]]
display(vendas_norteshopping_df)

              ID Loja                 Produto  Quantidade
3      Norte Shopping                 Relógio           3
4      Norte Shopping            Chinelo Liso           1
8      Norte Shopping  Camisa Gola V Listrado           1
9      Norte Shopping             Camisa Liso           1
100    Norte Shopping            Cueca Xadrez           5
...               ...                     ...         ...
93716  Norte Shopping             Polo Xadrez           1
93754  Norte Shopping              Calça Liso           1
93755  Norte Shopping          Casaco Estampa           2
93756  Norte Shopping                   Gorro           2
93852  Norte Shopping           Bermuda Linho           1

[3924 rows x 3 columns]

### Procurando um valor específico

In [9]:
display(tabela_vendas.loc[1, ['Produto']])

Produto    Camiseta
Name: 1, dtype: object

### Adicionar uma nova Coluna
##### - A partir de uma coluna que já existe
##### - Criar coluna com valor padrão

In [10]:
# Que ja existe
tabela_vendas['Comissao'] = tabela_vendas['Valor Final'] * 0.05

# Criar uma coluna com valor padrão
tabela_vendas.loc[:, "Imposto"] = 0
display(tabela_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0
...,...,...,...,...,...,...,...,...,...
93905,65012,2019-11-30,Shopping Vila Velha,Mochila Xadrez,2,283,566,28.30,0
93906,65013,2019-11-30,Ribeirão Shopping,Pulseira Listrado,2,79,158,7.90,0
93907,65013,2019-11-30,Ribeirão Shopping,Cueca Listrado,3,67,201,10.05,0
93908,65014,2019-11-30,Shopping Morumbi,Pulseira Linho,5,114,570,28.50,0
93909,65014,2019-11-30,Shopping Morumbi,Casaco Xadrez,4,259,1036,51.80,0

### Adicionando Linha
##### - Linhas de um complemento de base de dados

In [11]:
vendas_dez_df = pd.read_excel("Vendas - Dez.xlsx")
#display(vendas_dez_df)

tabela_vendas = pd.concat([tabela_vendas, vendas_dez_df], ignore_index=True)
display(tabela_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Imposto
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90,0.0
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00,0.0
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40,0.0
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00,0.0
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55,0.0
...,...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN,NaN
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN,NaN
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN,NaN
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN,NaN
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN,NaN

### Excluir linhas e colunas
##### - Deletar linhas/colunas vazias
##### - Deletar linhas que possuem valores vazios
##### - Preencher valores vazios (média e ultimo valor)

In [12]:
# Excluindo coluna Imposto
print('Excluindo coluna IMPOSTO')
tabela_vendas = tabela_vendas.drop("Imposto", axis=1)
display(tabela_vendas)
"\n"
"\n"

#Excluindo linha 0
print('Excluindo LINHA 0')
tabela_vendas = tabela_vendas.drop(0, axis=0)
display(tabela_vendas)

Excluindo coluna IMPOSTO

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
0,1,2019-01-01,Iguatemi Esplanada,Sapato Estampa,1,358,358,17.90
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

Excluindo LINHA 0

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.00
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.40
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.00
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.55
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.40
...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,NaN
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,NaN
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,NaN
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,NaN
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,NaN

### Tratando valores Vazios ( NaN )
##### - Ddeletar linhas/colunas vazias
##### - Ddeletar linhas que possuem valores vazios
##### - Preencher valores vazios (média e ultimo valor)

In [13]:
# Deletando linhas e colunas completamente vazias
#tabela_vendas = tabela_vendas.dropna(how='all', axis=1)

# Deletar linhas que possuem pelo menos 1 valor vazio
#tabela_vendas = tabela_vendas.dropna()

# Preencher valores vazios

# Preencher com media da coluna
tabela_vendas['Comissao'] = tabela_vendas['Comissao'].fillna(tabela_vendas['Comissao'].mean())
display(tabela_vendas)

# Preencher com o ultimo valor
tabela_vendas = tabela_vendas.ffill()
display(tabela_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000
...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao
1,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000
2,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000
3,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000
4,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000
5,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000
...,...,...,...,...,...,...,...,...
100994,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163
100995,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163
100996,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163
100997,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163
100998,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163

### Calcular indicadores
##### - Group By
##### - Value Counts - quantas `linhas` eu tenho por `coluna`

In [14]:
# VALUE COUNTS = Quantas transações eu tive por loja ? (QUANTAS LINHAS EU TENHO POR COLUNA)
transacoes_por_loja = tabela_vendas['ID Loja'].value_counts()
display(transacoes_por_loja)

# GROUP BY = Agrupar informações e somar o valor final
faturamento_produto = tabela_vendas[['Produto', 'Valor Final']].groupby('Produto').sum(numeric_only=True)
display(faturamento_produto)

# GROUP BY = Agrupar informações e achar o valor medio
faturamento_produto = tabela_vendas[['Produto', 'Valor Final']].groupby('Produto').mean()
display(faturamento_produto)

ID Loja
Shopping Vila Velha                 4234
Palladium Shopping Curitiba         4210
Norte Shopping                      4179
Rio Mar Shopping Fortaleza          4118
Bourbon Shopping SP                 4116
Iguatemi Campinas                   4108
Rio Mar Recife                      4099
Shopping Center Leste Aricanduva    4093
Shopping SP Market                  4080
Shopping Ibirapuera                 4051
Novo Shopping Ribeirão Preto        4049
Ribeirão Shopping                   4048
Salvador Shopping                   4030
Shopping Iguatemi Fortaleza         4021
Shopping Center Interlagos          4021
Center Shopping Uberlândia          4013
Shopping Eldorado                   4002
Passei das Águas Shopping           4000
Shopping União de Osasco            3995
Iguatemi Esplanada                  3979
Shopping Barra                      3962
Shopping Morumbi                    3960
Parque Dom Pedro Shopping           3902
Shopping Recife                     3891
Shopping Midway Mall                3837
Name: count, dtype: int64

                  Valor Final
Produto
Bermuda                272250
Bermuda Estampa        291694
Bermuda Linho          394680
Bermuda Liso           275692
Bermuda Listrado       293237
...                       ...
Tênis Estampa          457728
Tênis Linho            538608
Tênis Liso             474544
Tênis Listrado         481032
Tênis Xadrez           459725

[120 rows x 1 columns]

                  Valor Final
Produto
Bermuda            326.830732
Bermuda Estampa    363.708229
Bermuda Linho      429.934641
Bermuda Liso       340.360494
Bermuda Listrado   345.798349
...                       ...
Tênis Estampa      544.914286
Tênis Linho        633.656471
Tênis Liso         571.051745
Tênis Listrado     571.296912
Tênis Xadrez       541.489988

[120 rows x 1 columns]

### Mesclar 2 `DataFrames`
##### - Procurar informações de um `DataFrame` em outro

In [15]:
# Criando o DataFrame para a tabela de Gerentes
gerentes_df = pd.read_excel('Gerentes.xlsx')
display(gerentes_df)

                             ID Loja   Gerente
0                 Iguatemi Esplanada  Salvador
1                     Norte Shopping     Joana
2         Rio Mar Shopping Fortaleza     Maria
3                     Shopping Barra   Letícia
4                Shopping Ibirapuera    Helena
5                  Iguatemi Campinas     Luiza
6   Shopping Center Leste Aricanduva     Julia
7          Passei das Águas Shopping    Nicole
8                    Shopping Recife     André
9               Shopping Midway Mall      João
10               Bourbon Shopping SP    Marcus
11        Shopping Center Interlagos    Amanda
12         Parque Dom Pedro Shopping     Carol
13        Center Shopping Uberlândia  Andressa
14          Shopping União de Osasco     Lilia
15                 Shopping Eldorado     Paulo
16               Shopping Vila Velha     Pablo
17      Novo Shopping Ribeirão Preto     Diana
18                    Rio Mar Recife       Ana
19       Palladium Shopping Curitiba    Flavia
20                Shopping SP Market  Fernanda
21                 Ribeirão Shopping     Fábio
22       Shopping Iguatemi Fortaleza      Joel
23                  Shopping Morumbi    Gisele
24                 Salvador Shopping    Mateus

### Mesclando o `DataFrame` (Tabela) de Gerentes com o `DataFrame` (Tabela) de Vendas

In [16]:
tabela_vendas = tabela_vendas.merge(gerentes_df)
display(tabela_vendas)

,Código Venda,Data,ID Loja,Produto,Quantidade,Valor Unitário,Valor Final,Comissao,Gerente
0,1,2019-01-01,Iguatemi Esplanada,Camiseta,2,180,360,18.000000,Salvador
1,1,2019-01-01,Iguatemi Esplanada,Sapato Xadrez,1,368,368,18.400000,Salvador
2,2,2019-01-02,Norte Shopping,Relógio,3,200,600,30.000000,Joana
3,2,2019-01-02,Norte Shopping,Chinelo Liso,1,71,71,3.550000,Joana
4,3,2019-01-02,Rio Mar Shopping Fortaleza,Cinto Linho,1,248,248,12.400000,Maria
...,...,...,...,...,...,...,...,...,...
100993,69996,2019-12-26,Center Shopping Uberlândia,Short Listrado,2,102,204,20.743163,Andressa
100994,69996,2019-12-26,Center Shopping Uberlândia,Mochila,4,270,1080,20.743163,Andressa
100995,69996,2019-12-26,Center Shopping Uberlândia,Pulseira Estampa,1,87,87,20.743163,Andressa
100996,69997,2019-12-26,Ribeirão Shopping,Camisa Listrado,1,108,108,20.743163,Fábio
100997,69997,2019-12-26,Ribeirão Shopping,Short Linho,2,133,266,20.743163,Fábio